QUANTBOT_MODE="paper"
ALPACA_API_KEY="PKPREZNB4T7KOYBHORJBH3BAGE"
ALPACA_SECRET_KEY="FwjQtLBmQAbKEMKdvh9Nfwg6pGhp1cBYGuGwLJ4rWWn2"
ALPACA_BASE_URL="https://paper-api.alpaca.markets/v2"
TELEGRAM_BOT_TOKEN="8714287793:AAEDghNgccUb0mmuwIE9xqYeqaDuqYYMjDw"
TELEGRAM_CHAT_ID="6114887849"
LOG_LEVEL="INFO"
CRYPTO_CCXT_EXCHANGE="kraken"
LIVE_MAX_NOTIONAL_PER_TRADE="0"
LIVE_TRADING_ARMED=""
PROMOTION_GATES_PASSED="0"
QUANTBOT_PERSIST_DIR="/app/persist"
RESET_PAPER_ON_STARTUP="0"
SCALP_MODE="paper_crypto"
WIPE_GHOST_POSITIONS="0"